/* 
    Document   : layout.css
    Created on : 2012.10.25, 16:27
    Author     : Jessica Kung
*/

	#menu {
		background: url('images/menu-bg.png');		
	}
	
	#game-mode {
		background: url('images/game-mode-bg.png');
	}